* {
    box-sizing: border-box;
}

.topname{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.jobname{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

.description{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    text-align: center;
    padding-bottom: 20px;
}

.contact-list li{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    list-style-type: none;
    text-align: center;
}

.contact-list ul{
    text-align: center;
}

hr{
    border: 5px solid green;

}

.bluetitle{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #008cdc;
}
.skillsandabil{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: small;
    margin-left: 2px;
    padding-bottom: 10px;
}

