.pizzajumbo{
    background-image: url(../images/pizza.png);
    height: 346px;
    background-size: cover;
}
/*h1{*/
/*    text-align: center;*/
/*}*/
.p-2{
    display: flex;
    align-items: center;
}
#pizza-text h1{
    background-size: cover;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}