.pizzajumbo{
    background-image: url(../images/pizza.png);
    height: 346px;
    background-size: cover;
}
/*h1{*/
/*    text-align: center;*/
/*}*/
.p-2{
    display: flex;
    align-items: center;
}

/*header h1{*/
/*    bg-light p-2 text-dark bg-opacity-75 d-flex justify-content-center*/
/*}*/