* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


@media screen and (max-width: 767px) {
    .alert-info {
        padding: 1em;
    }

    .alert-info a {
        padding: calc(8px + 1.5625vw);
        border: .1em solid grey;
        background-color: #a7def1;
        color: black;
        display: flex;
        justify-content: center;
    }

    h1 {
        padding: calc(8px + 1.5625vw);
        display: flex;
        justify-content: center;
        font-size: xx-large;
    }

    ul.nav-links li {
        padding: calc(8px + 1.5625vw);
        background-color: #bbbaba;
        color: black;
        display: flex;
        justify-content: center;
        margin: 10px
    }

    div.header-img img {
        width: 100%;
        height: auto;
        padding-bottom: 14px;
    }

    section#main.main h2 {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    section.sub-section h2 {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    section#main.main p {
        text-align: left;
    }

    section.sub-section p {
        text-align: left;
    }


}