* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


@media screen and (max-width: 767px) {
    .alert-info{
        padding: 1em;
    }
    .alert-info a {
        padding: calc(8px + 1.5625vw);
        border: .1em solid grey;
        background-color: #a7def1;
        color: black;
        display: flex;
        justify-content: center;
    }
}