.center {
    text-align: center;
}


.header {
    text-decoration: underline #d641ff;
}

/*.background-img{*/
/*    background-image: url(images_for_html/grey_background.jpeg);*/
/*}*/

.font-xxx-large{
    font-size: xxx-large;
}

.font-xx-large{
    font-size: xx-large;
}

.bullet{
    list-style-type: square;
    color:deeppink;
}

body {
    font-family: Serif, sans-serif;
    background-color: rgba(255, 182, 193, 0.45);
}

table, td, tr{
    padding: 10px 40px 20px 30px;
    color: darkolivegreen;
}

a:link {
    color:orange;
}

a:visited {
    color:blue;
}

a:hover {
    color:purple;
}

a:active {
    color: green;
}