.center {
    text-align: center;
}


.header {
    text-decoration: underline #0643dc;
}

/*.background-img{*/
/*    background-image: url(images_for_html/grey_background.jpeg);*/
/*}*/

/*.fancy-header {*/
/*    font-family: Chalkboard;*/
/*    text-align: center;*/
/*    color: #3c3b42; !* single line comment *!*/
/*    text-decoration: underline;*/
/*}*/

.bullet{
    list-style-type: square;
    color:deeppink;
}

font * {
    font-family: Serif, sans-serif;
}

table, td, tr{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    font: small-caption;
}

a:link {
    color:orange;
}
