* {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    background-color: #564E50;
    animation: fadeBackground 10s;
    animation-fill-mode: forwards;
}
/*#919098;*/
@keyframes fadeBackground {
    from { background-color: #564E50; }
    to { background-color: #9E9497; }
}

#map {
    border: 5px solid;
    border-color: #BA8F95;
    margin: 5em 1em;
    height: 40vh;
    width: 98vw;
    display: flex;
    justify-content: center;
}

#weatherBody {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.navbar {
    background-color: #BA8F95;
}

h5 {
    text-align: center;
    font-weight: 600;
}

h6 {
    text-align: center;
    font-size: medium;
}

#search {
    padding-top: 2em;
    padding-left: 2em;
}

.centered {
    display: flex;
    justify-content: center;
}

.mapboxgl-marker path {
    fill: #8B555C;
}

span.navbar-brand.mb-0.h1 {
    font-weight: 700;
}

p {
    font-weight: 700;
}

div#search {
    font-weight: 600;
}

.card{
    background-color: #D0B3B7;
}