body{
    background-color: #919098;
    animation: fadeBackground 10s;
    animation-fill-mode: forwards;
    font-family: 'Libre Franklin', sans-serif;
}

@keyframes fadeBackground {
    from { background-color: #919098; }
    to { background-color: #897C80; }
}

#map {
    border: 5px solid;
    border-color: #BA8F95;
    margin: 5em 1em;
    height: 40vh;
    width: 98vw;
    display: flex;
    justify-content: center;
}

#weatherBody{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.navbar{
    background-color: #BA8F95;

}

h5 {
    text-align: center;
    font-size: semiBold;
}

h6{
    text-align: center;
    font-size: medium;
}

#search{
    padding-top: 2em;
    padding-left: 2em;
}

.centered{
    display: flex;
    justify-content: center;
}

.mapboxgl-marker path {
    fill: #CFBCDF;
}